<div *ngIf="currentTutorial" class="edit-form">
  <h4>Tutorial</h4>
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        [(ngModel)]="currentTutorial.title"
        name="title"
      />
    </div>
    <div  *ngIf = "!currentTutorial.published && currentTutorial.author == authService.user.email" class="form-group">
      <label for="description">Description</label>
      <input
      
        type="text"
        class="form-control descriptionfield"
        id="description"
        [(ngModel)]="currentTutorial.description"
        name="description"
        rows="4" 
        cols="50"
        
      />
    </div>

    <div  *ngIf = "currentTutorial.published">
      <div class="form-group">
      <label for="description">Description</label>
    
      <input
         type="text"
          class="descriptionfield form-control"
          id="description"
          [(ngModel)]="currentTutorial.description"
          name="description"
        
        />
      </div>
      
    </div>

    <div class="form-group">
      <label><strong>Status:</strong></label>
      {{ currentTutorial.published ? "Published" : "Pending" }}
      <br>
      <label><strong>Publisher:</strong></label>
      {{currentTutorial.author}}
      
    </div>
  </form>
<div *ngIf = "currentTutorial.author == authService.user.email || currentTutorial.archived == false">
 
  <button
    class="badge badge-primary mr-2"
    *ngIf="currentTutorial.published"
    (click)="updatePublished(false)"
  >
    UnPublish
  </button>
  <button
    *ngIf="!currentTutorial.published"
    class="badge badge-primary mr-2"
    (click)="updatePublished(true)"
  >
    Publish 
  </button>

<div *ngIf="currentTutorial.author == authService.user.email">
  <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
    Delete
  </button>

  <button type="submit" class="badge badge-success" (click)="updateTutorial()">
    Update
  </button>

  <button
  class="badge badge-primary mr-2"
  *ngIf="currentTutorial.archived"
  (click)="archiveTutorial(false)"
>
  UnArchive
</button>
<button
  *ngIf="!currentTutorial.archived"
  class="badge badge-primary mr-2"
  (click)="archiveTutorial(true)"
>
  Archive
</button>
</div>
  
  <p>{{ message }}</p>
 

</div>

</div>

<div *ngIf="!currentTutorial">
  <br />
  <p>Cannot access this Tutorial...</p>
</div>
