<div>
 
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    
    <div class="topnav-right">
    <div class="navbar-nav mr-auto">
      <li class="nav-item"> 
        <a routerLink="tutorials" class="nav-link">Tutorials</a>
      </li>
    <li class="nav-item">
      <a routerLink="archived" class="nav-link">Archived</a>
    </li>
    <li class="nav-item">
      <a routerLink="my-tutorials" class="nav-link">My Tutorials</a>
    </li>
      <li class="nav-item">
        <a *ngIf="authService.isLoggedIn" routerLink="add" class="nav-link">Add</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!authService.isLoggedIn" routerLink="register" class="nav-link">Register</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!authService.isLoggedIn" routerLink="login" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <button *ngIf="authService.isLoggedIn" (click)="logout()" class="btn btn-success" routerLink="login">Logout</button>
      </li>
    </div>
    </div>

    <div>
      <a *ngIf="!authService.isLoggedIn" routerLink="tutorials" class="navbar-brand"> Please register in order to use the full pottential of the app.</a>
      <a *ngIf="authService.isLoggedIn" routerLink="tutorials" class="navbar-brand"> Hello, {{authService.user.email}}.</a>
  </div>

    
  </nav>

  <div class="container mt-3">
    <h2>{{ title }}</h2>
    <router-outlet></router-outlet>
  </div>
</div>
